<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "pic1.jpg" %>
      <div class="carousel-caption">
        <h3>Wedding</h3>
        <p>This is how we got married!!</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag "pic2.jpg" %>
      <div class="carousel-caption">
        <h3>Wedding</h3>
        <p>Yes we can pose !! </p>        
      </div>
    </div> 
    <div class="item">
      <%= image_tag "pic3.jpg" %>
      <div class="carousel-caption">
    <h3>Wedding</h3>
    <p>And we do a good job at that.</p>
  </div>
</div>   
</div>
